<nav class="navbar navbar-expand-lg bg-light border-bottom shadow-sm py-2">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="/favicon.ico"
        alt="Logo"
        height="40" />
    </a>

    <ul class="navbar-nav ms-auto d-flex flex-row align-items-center gap-3">
      <li class="nav-item">
        <a class="nav-link" href="#search">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account-details">
          <i class="bi bi-person"></i>
        </a>
      </li>
      <li class="nav-item position-relative">
        <a class="nav-link" routerLink="/wishlist">
          <i class="bi bi-heart"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            0
          </span>
        </a>
      </li>
      <li class="nav-item position-relative">
        <a class="nav-link" routerLink="/cart">
          <i class="bi bi-bag"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
            {{ cartSize }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
